In [1]:
import turicreate as tc

### Load a people data

In [2]:
people_df = tc.SFrame('datasets/people_wiki.sframe')

In [3]:
people_df.head(5)

Columns:
	URI	str
	name	str
	text	str

Rows: 5

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
+-------------------------------+---------------------+
+-------------------------------+
|              text             |
+-------------------------------+
| digby morrell born 10 octo... |
| alfred j lewy aka sandy le... |
| harpdog brown is a singer ... |
| franz rottensteiner born i... |
| henry krvits born 30 decem... |
+-------------------------------+
[5 rows x 3 columns]

### Create a word_count table

In [4]:
people_df['word_count'] = tc.text_analytics.count_words(people_df['text'])

In [5]:
people_df.head(5)

Columns:
	URI	str
	name	str
	text	str
	word_count	dict

Rows: 5

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'parade... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'society': 1.0, 'hamilton... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, '2007': 1.... |
+-------------------------------+-------------------------------+
[5 rows x 4 columns]

### Create a TF_IDF table

In [6]:
people_df['tf_idf'] = tc.text_analytics.tf_idf(people_df['word_count'])
people_df.head(5)

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tf_idf	dict

Rows: 5

Data:
+-------------------------------+---------------------+
|              URI              |         name        |
+-------------------------------+---------------------+
| <http://dbpedia.org/resour... |    Digby Morrell    |
| <http://dbpedia.org/resour... |    Alfred J. Lewy   |
| <http://dbpedia.org/resour... |    Harpdog Brown    |
| <http://dbpedia.org/resour... | Franz Rottensteiner |
| <http://dbpedia.org/resour... |        G-Enka       |
+-------------------------------+---------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| digby morrell born 10 octo... | {'melbourne': 1.0, 'parade... |
| alfred j lewy aka sandy le... | {'time': 1.0, 'each': 1.0,... |
| harpdog brown is a singer ... | {'society': 1.0, 'hamilton... |
| franz rottensteiner born i... | {'kurdlawitzpreis': 1.0, '... |
| henry krvits born 30 decem... | {'curtis': 1.0, '2007': 1.... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tf_idf            |
+-------------------------------+
| {'melbourne': 3.8914310119... |
| {'time': 1.325334207420049... |
| {'society': 2.444804726208... |
| {'kurdlawitzpreis': 10.986... |
| {'curtis': 5.2995200328853... |
+-------------------------------+
[5 rows x 5 columns]

### Exploring word count and tf_idf of Elton John

#### Elton john word count exploration

In [13]:
elton = people_df[people_df['name'] == 'Elton John']
elton[['word_count']].stack('word_count', new_column_name=['word', 'count']).sort('count', ascending=False)

Columns:
	word	str
	count	float

Rows: 255

Data:
+-------+-------+
|  word | count |
+-------+-------+
|  the  |  27.0 |
|   in  |  18.0 |
|  and  |  15.0 |
|   of  |  13.0 |
|   a   |  10.0 |
|  has  |  9.0  |
|   he  |  7.0  |
|  john |  7.0  |
|   on  |  6.0  |
| award |  5.0  |
+-------+-------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

#### Elton john TF-IDF exploration

In [14]:
elton[['tf_idf']].stack('tf_idf', new_column_name=['word', 'tf_idf']).sort('tf_idf', ascending=False)

Columns:
	word	str
	tf_idf	float

Rows: 255

Data:
+---------------+--------------------+
|      word     |       tf_idf       |
+---------------+--------------------+
|    furnish    | 18.38947183999428  |
|     elton     | 17.482320270031995 |
|   billboard   | 17.30368095754203  |
|      john     | 13.93931279239831  |
|  songwriters  | 11.250406447031539 |
|  overallelton | 10.986495389225194 |
| tonightcandle | 10.986495389225194 |
|   fivedecade  | 10.293348208665249 |
|    19702000   | 10.293348208665249 |
|      aids     | 10.262846934045534 |
+---------------+--------------------+
[255 rows x 2 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

### Measuring distance with Victoria Beckham

In [15]:
vbeck = people_df[people_df['name'] == 'Victoria Beckham']
vbeck

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tf_idf	dict

Rows: Unknown

Data:
+-------------------------------+------------------+
|              URI              |       name       |
+-------------------------------+------------------+
| <http://dbpedia.org/resour... | Victoria Beckham |
+-------------------------------+------------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| victoria caroline beckham ... | {'week': 1.0, 'york': 1.0,... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tf_idf            |
+-------------------------------+
| {'week': 3.57252509903475,... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [17]:
paulmcCart = people_df[people_df['name'] == 'Paul McCartney']
paulmcCart

Columns:
	URI	str
	name	str
	text	str
	word_count	dict
	tf_idf	dict

Rows: Unknown

Data:
+-------------------------------+----------------+
|              URI              |      name      |
+-------------------------------+----------------+
| <http://dbpedia.org/resour... | Paul McCartney |
+-------------------------------+----------------+
+-------------------------------+-------------------------------+
|              text             |           word_count          |
+-------------------------------+-------------------------------+
| sir james paul mccartney m... | {'children': 1.0, 'five': ... |
+-------------------------------+-------------------------------+
+-------------------------------+
|             tf_idf            |
+-------------------------------+
| {'children': 2.42528531239... |
+-------------------------------+
[? rows x 5 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

#### Calculating distance between victoria beckham and elton john

In [16]:
tc.distances.cosine(elton['tf_idf'][0], vbeck['tf_idf'][0])

0.9567006376655429

In [18]:
tc.distances.cosine(elton['tf_idf'][0], paulmcCart['tf_idf'][0])

0.8250310029221779

### Building KNN model based on TF-IDF and word count for comparison

#### KNN using TF-IDF feature

In [19]:
knn_tfidf = tc.nearest_neighbors.create(people_df, features=['tf_idf'], label='name', distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

#### KNN using word count feature

In [21]:
knn_word_count = tc.nearest_neighbors.create(people_df, features=['word_count'], label='name', distance='cosine')

Starting brute force nearest neighbors model training.

Validating distance components.

Initializing model data.

Initializing distances.

Done.

### Using both the models for comparison (on john elton)

#### john elton knn using word count

In [22]:
knn_word_count.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 5.249ms      |

| Done         |         | 100         | 120.453ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+-------------------+-----------------------+------+
| query_label |  reference_label  |        distance       | rank |
+-------------+-------------------+-----------------------+------+
|      0      |     Elton John    | 2.220446049250313e-16 |  1   |
|      0      |   Cliff Richard   |  0.16142415258967036  |  2   |
|      0      |   Sandro Petrone  |  0.16822542751041114  |  3   |
|      0      |    Rod Stewart    |  0.16832716558706107  |  4   |
|      0      | Malachi O'Doherty |   0.177315545978884   |  5   |
+-------------+-------------------+-----------------------+------+
[5 rows x 4 columns]

#### John elton knn using tf-idf

In [24]:
knn_tfidf.query(elton)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 9.24ms       |

| Done         |         | 100         | 117.396ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+------------------+------------------------+------+
| query_label | reference_label  |        distance        | rank |
+-------------+------------------+------------------------+------+
|      0      |    Elton John    | -2.220446049250313e-16 |  1   |
|      0      |   Rod Stewart    |   0.7172196678927374   |  2   |
|      0      |  George Michael  |   0.7476009989692848   |  3   |
|      0      | Sting (musician) |   0.7476719544306141   |  4   |
|      0      |   Phil Collins   |   0.7511932487904706   |  5   |
+-------------+------------------+------------------------+------+
[5 rows x 4 columns]

### Using both model for comparison (on Victoria Beckham)

#### victoria beckham using word count

In [25]:
knn_word_count.query(vbeck)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 5.274ms      |

| Done         |         | 100         | 101.873ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+--------------------------+------------------------+------+
| query_label |     reference_label      |        distance        | rank |
+-------------+--------------------------+------------------------+------+
|      0      |     Victoria Beckham     | -2.220446049250313e-16 |  1   |
|      0      | Mary Fitzgerald (artist) |  0.20730703611504997   |  2   |
|      0      |      Adrienne Corri      |  0.21450978278754795   |  3   |
|      0      |     Beverly Jane Fry     |  0.21746646874079278   |  4   |
|      0      |      Raman Mundair       |  0.21769547499150488   |  5   |
+-------------+--------------------------+------------------------+------+
[5 rows x 4 columns]

#### Victoria beckham using TF-IDF

In [26]:
knn_tfidf.query(vbeck)

Starting pairwise querying.

+--------------+---------+-------------+--------------+

| Query points | # Pairs | % Complete. | Elapsed Time |

+--------------+---------+-------------+--------------+

| 0            | 1       | 0.00169288  | 7.861ms      |

| Done         |         | 100         | 109.566ms    |

+--------------+---------+-------------+--------------+

Columns:
	query_label	int
	reference_label	str
	distance	float
	rank	int

Rows: 5

Data:
+-------------+---------------------+------------------------+------+
| query_label |   reference_label   |        distance        | rank |
+-------------+---------------------+------------------------+------+
|      0      |   Victoria Beckham  | 1.1102230246251565e-16 |  1   |
|      0      |    David Beckham    |   0.5481696102632145   |  2   |
|      0      | Stephen Dow Beckham |   0.7849867068283364   |  3   |
|      0      |        Mel B        |   0.8095855234085036   |  4   |
|      0      |    Caroline Rush    |    0.81982642291868    |  5   |
+-------------+---------------------+------------------------+------+
[5 rows x 4 columns]